:root {
  font-size: 16px;
  /* 500, 700, 900 */
  --font-family: "Red Hat Display", sans-serif;
  /* ### Primary */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  /* ### Neutral */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --radius: 10px;
}

html {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--pale-blue);
  font-family: var(--font-family);
  margin: 0;
}

$white: #fff;
.main {
  position: relative;
  padding: 2rem 1rem 0;

  &::before {
    background-image: url(/public/images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    @media (min-width: 1000px) {
      background-image: url(/public/images/pattern-background-desktop.svg);
    }
  }
}

.card {
  margin: 0 auto;
  position: relative;
  width: 320px;
  z-index: 2;

  &-hero {
    &-img {
      border-radius: var(--radius) var(--radius) 0 0;
      display: block;
      width: 100%;
    }
  }

  &-content {
    background: $white;
    border-radius: 0 0 var(--radius) var(--radius);
    padding: 1.5rem 0;

    &-title {
      color: var(--dark-blue);
      font-size: 1.2rem;
      font-weight: 900;
      text-align: center;
    }

    &-text {
      color: var(--desaturated-blue);
      font-size: 0.9rem;
      font-weight: 500;
      margin-top: 1rem;
      margin: 0 auto;
      text-align: center;
      width: 245px;
    }
  }

  &-player {
    align-items: center;
    background: var(--very-pale-blue);
    border-radius: var(--radius);
    display: flex;
    font-size: 0.9rem;
    margin: 1.2rem auto;
    padding: 0.8rem;
    width: 280px;

    &-icon {
      margin-right: 1rem;
    }

    &-content {
      &-text {
        color: var(--dark-blue);
        font-weight: 700;
        line-height: 1.8;
      }

      &-price {
        color: var(--desaturated-blue);
        font-weight: 500;
      }
    }

    &-link {
      color: var(--bright-blue);
      font-weight: 700;
      margin-left: 3rem;
      text-align: right;
    }
  }

  &-btn {
    &-pay {
      background: var(--bright-blue);
      border-radius: var(--radius);
      border: none;
      box-shadow: 0 3px 30px 0 var(--desaturated-blue);
      color: var(--very-pale-blue);
      display: block;
      font-size: 0.95rem;
      font-weight: 700;
      margin: 0 auto;
      padding: 0.8rem;
      text-align: center;
      width: 280px;
    }

    &-cancel {
      background: none;
      border: none;
      color: var(--desaturated-blue);
      display: block;
      font-size: 0.95rem;
      font-weight: 700;
      margin: 1.6rem auto 0;
      outline: none;
    }
  }
}
